/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* SCROLLING BACKGROUND */

body {
  background-image: url('./images/dark_brick_wall.png');
  background-position: bottom;
  animation: 4s linear 0s infinite bp;
  display: flex;
}
/* 
@keyframes bp {
  from {
    background-position:  198px 0;
  }
  
  to {
    background-position:  0 198px;
  }
} */

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Anonymous Pro', monospace;  
}

.text {
  font: 900 18px Ruda;
  color: #C08;
  background: white;
  display: inline-block;
  padding: 1rem;
}

.margin {
  margin: 30px;
  padding: 20px;
  background-image: url('./images/paperbackground3.jpg');
  font-family: 'Anonymous Pro', monospace;  
}

.cover {
  border-style: inset;
  margin: 10px;
  padding: 10px;
}

.resizeBtns {
  width: 200px;
  height: auto;
  margin: 2%;
  margin-top: 20px;
}

.resizeBtns:hover {
  cursor: pointer;
}

.carousel.caption {
  height: 300px;
  color: black;
}

.star {
  height: 30px;
  margin: 2px
}

.redline {
  height: 3px;
  background-color: red;
}